<h2>You're invited to join QA Platform!</h2>

<p>Hi there,</p>

<p><%= @invited_by.full_name %> has invited you to join the QA Platform as a <%= @invitation.role.humanize %>.</p>

<p>Click the link below to accept your invitation:</p>
<p><a href="http://localhost:3000/invite/<%= @invitation.token %>">Accept Invitation</a></p>

<p>Thanks!</p>